/* 할 일 아이템 박스 스타일 적용 */
.TodoItem {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    /*border-bottom: 1px solid rgba(212, 210, 210, 0.891);*/
    font-size: medium;
    background-color: lavenderblush;
    border-radius: 10px;
}

.TodoItem .btn_col button {
    background-color: rgb(235, 180, 221);
    height: 15px; /* 크기 조절 */
    width: 15px;  /* 크기 조절 */
    border-radius: 50%;
    border: none;
    margin-left: 11px;
}


.TodoItem .checkbox_col {
    cursor: pointer; /* 커서가 박스 근처에서만 포인터로 변경되는데? */
    width: 20px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}

.TodoItem .title_col {
    flex: 1;

}

.TodoItem .delete_col {
    cursor: pointer;
}