.TodoList .list_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.search {
    padding: 10px 20px 30px 40px;
}

.TodoList {
    text-align: center;

}

/*.searchContainer {*/
/*    display: flex;*/
/*}*/


.searchbar {
    width: 300px;
    border: 2px solid pink; /* 테두리 색상 */
    border-radius: 10px; /* 모서리 둥글게 */
    padding: 8px; /* 내부 여백 */
    font-size: 16px; /* 글자 크기 */
}

.searchbar::placeholder {
    color: #BE2457;
}

.TodoList input:focus{

    outline: none;
    border: 2px solid #D24C75;


}

.searchButton {
    background-color: pink; /* 배경 색상 */
    border: none;
    border-radius: 10px; /* 모서리 둥글게 */
    color: white; /* 글자 색상 */
    padding: 10px 16px; /* 내부 여백 */
    cursor: pointer;
}
