/* 할 일 아이템 박스 스타일 적용 */
.TodoItem {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(212, 210, 210, 0.891);
    font-size: small;
}

.TodoItem .btn_col button{
    background-color: #8ACDD7;
    height: 15px;
    border-radius: 50%;
    border: 1px solid white;
}

.TodoItem .checkbox_col {
    cursor: pointer; /* 커서가 박스 근처에서만 포인터로 변경되는데? */
    width: 20px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.TodoItem .title_col {
    flex: 1;
    
}

.TodoItem .delete_col {
    cursor: pointer;
}
